.colonnes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  min-height: 60vh;
  word-break: break-word;
}

.colonne-principale {
  order: 2;
  flex: 1 1;
}

.colonne-secondaire {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 350px;
}

.colonne-secondaire img {
  border-radius: 2px;
  min-height: 200px;
  object-fit: contain;
}

.colonne-secondaire img[hidden] + dl {
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .colonnes {
    display: block;
  }
}
