:root {
  --theme-app-fg: black;
  --theme-app-bg: white;
  --selection-color: #cde5ff;
  --caret-color: #df00a5;

  --c-grey: #999;
  --c-grey-light: #ccc;
  --c-grey-dark: #666;

  --c-red: #e9716d;
  --c-red-light: #ffe1e0;
  --c-red-dark: #bd0600;

  --c-pink: #f461be;
  --c-pink-light: #ffe0f4;
  --c-pink-dark: #bd0076;

  --c-purple: #9d7adb;
  --c-purple-light: #ebe0ff;
  --c-purple-dark: #460cb1;

  --c-blue: #63c2f2;
  --c-blue-light: #e0f5ff;
  --c-blue-dark: #007cbd;

  --c-green: #8fc793;
  --c-green-light: #e3fce5;
  --c-green-dark: #239a2b;

  --c-yellow: #ffdb57;
  --c-yellow-light: #fff8e0;
  --c-yellow-dark: #bd9400;

  --c-orange: #f6ad5f;
  --c-orange-light: #fff0e0;
  --c-orange-dark: #bd6000;
}
