.colonnes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  min-height: 60vh;
  word-break: break-word;
}

.colonne-principale {
  order: 2;
  flex: 1 1;
}

.colonne-secondaire {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 350px;
}

.colonne-secondaire img {
  border-radius: 2px;
  min-height: 200px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .colonnes {
    display: block;
  }
}

.colonnes img:hover {
  transform: scale(1.01);
}

.colonnes img:not([src$="png"]):not([src$="svg"]):hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
