main [loading] {
  width: calc(30px + var(--random) * 20px);
  content: "";
  background: linear-gradient(
    calc(90deg - var(--random) * 180deg),
    lightgrey,
    grey
  );
  background-size: 200% 200%;
  color: transparent;

  animation: animation-degrade-chargement calc(1s + var(--random) * 1500ms) ease
    infinite;
  animation-delay: calc(var(--random) * -2s);
  border-radius: 2px;
}
main img[loading] {
  display: block;
  width: 100%;
  height: 200px;
}
main img[loading]::after {
  display: block;
  background: inherit;
  animation: inherit;
  content: "";
  height: 100%;
}

main img {
  transition: opacity 400ms ease;
}

main h2[loading] {
  width: 70%;
  height: 1.2em;
}

main [data-key="description"][loading] {
  width: 100%;
  height: 1em;
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
main [data-key="description"][loading]::before,
main [data-key="description"][loading]::after {
  position: absolute;
  display: block;
  background: inherit;
  content: "";
  width: 80%;
  height: 1em;
  top: 1.5em;
  animation-delay: -0.3s;
  border-radius: 2px;
}
main [data-key="description"][loading]::before {
  top: -1.5em;
  animation-delay: -0.6s;
  width: 90%;
}

@keyframes animation-degrade-chargement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
