html {
  background-color: #eee;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  padding: 16px 16px;
  background-color: #39434c;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header .logo img {
  height: 5em;
  width: auto;
  transition: transform 400ms ease;
}
header a {
  color: inherit !important;
  text-decoration: none;
}

header a.logo:hover img {
  transform: scale(1.05);
}

header .logo:hover img:hover {
  transform: scale(1.15);
}

header a:hover h1 {
  text-decoration: underline;
}

header p {
  flex: 1 0;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.8rem;
  }
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

header nav a,
header nav a:visited {
  color: inherit;
  padding: 4px;
  border-radius: 5px;
}
header nav a:focus-visible {
  color: black;
  background: white;
}

.drapeau-francais {
  width: 160px;
  height: 24px;
  background: linear-gradient(90deg, #000091 0 33%, white 0 66%, #ef4135 66% 0);
}

.drapeau-francais:hover {
  animation: anim-rotation 400ms ease;
}
@keyframes anim-rotation {
  20% {
    transform: rotate(4deg);
  }
  70% {
    transform: rotate(-4deg);
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 24px;
}

main {
  width: min(100vw, 1100px);
  margin: auto;
  flex-grow: 1;
}

.sheet {
  background-color: white;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 24px;
}

main.sheet {
  border-radius: 0px 0px 3px 3px;
}

[hidden] {
  display: none !important;
}

dl {
  position: relative;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.4em;
}

dl div {
  display: flex;
  flex-direction: row;
  gap: 0.5ch;
  cursor: initial;
  transition: all 40ms ease-out;
}

dl div:hover {
  background-color: hsla(190, 100%, 50%, 0.1);
  box-shadow: 0 0 0 3px hsla(190, 100%, 50%, 0.1);
  transition: all 20ms ease;
}

dl dt {
  font-weight: bold;
  flex: 0 0 50%;
}

dd ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

a:hover {
  color: black;
  text-decoration: underline solid black 2px;
}
