html {
  background-color: #eee;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  padding: 16px 16px;
  background-color: #39434c;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

header nav a,
header nav a:visited {
  color: inherit;
  padding: 4px;
  border-radius: 5px;
}
header nav a:focus-visible {
  color: black;
  background: white;
}

.drapeau-francais {
  width: 160px;
  height: 24px;
  background: linear-gradient(90deg, #000091 0 33%, white 0 66%, #ef4135 66% 0);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 24px;
}

main {
  width: min(100vw, 1100px);
  margin: auto;
  flex-grow: 1;
}

.sheet {
  background-color: white;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 24px;
}

main .sheet {
  border-radius: 0px 0px 3px 3px;
}

dl {
  position: relative;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-size: 0.9rem;
}

dl dt {
  font-weight: bold;
  flex: 0 0 50%;
}

dl div {
  display: flex;
  flex-direction: row;
  gap: 0.5ch;
}

dd ul {
  list-style: none;
  padding-left: 0px;
}
