
.container ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: #000;
  font-size: 13px;
}

.container ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #000;

}

.container ul li:not(:first-child) {
  margin-top: 0px;
}

.container ul li {
  position: relative;
  margin-left: 30px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

.container ul li > span {
  width: 2px;
  height: 100%;
  background: #000;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before, .container ul li > span:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;
}
.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}



.home-cards {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 1em;
}

.home-card {
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: 2em 2em;
  gap: 0px 0.3em;
  grid-template-areas: "icon title" "icon subtitle";
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease;
}

.home-card:hover {
  box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.2);
  transition: all 100ms ease;
}

.home-card__icon {
  grid-area: icon;
  object-fit: cover;
  object-position: top center;
  height: 4em;
  width: 4em;
}
.home-card__icon[src$="svg"],
.home-card__icon[src$="png"] {
  object-fit: contain;
  object-position: center;
  padding: 8px;
}

.home-card__title,
.home-card__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
  color: inherit !important;
  text-decoration: none;
}

.home-card__title:hover,
.home-card__subtitle:hover {
  text-decoration: underline;
}

.home-card__title {
  grid-area: title;
  font-size: 1.1em;
  font-weight: 400;
  padding-top: 8px;
}

.home-card__subtitle {
  grid-area: subtitle;
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 8px;
}
