.recherche {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 64px;
}

#search-container {
  position: relative;
  width: 70%;
}

#search-input-container {
  z-index: 2;
  position: relative;
}

#search,
#search-autocomplete {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  line-height: 52px;
  outline: none;
  padding: 0px 22px;
  transition: all 150ms ease;
}
#search:focus {
  box-shadow: 0 0 0 2px #0055a4, 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#search-autocomplete {
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.2;
  overflow: hidden;
  height: 52px;
  pointer-events: none;
}

#searchButton {
  display: grid;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  right: 0;
  z-index: 10;
  background: none;
  border: none;
  border-radius: 99px;
  color: #0055a4;
  font-size: 30px;
  place-items: center;
}
#search:invalid + #searchButton,
#search:placeholder-shown + #searchButton {
  display: none;
}

#searchResultsContainer {
  z-index: 1;
  position: relative;
  background-color: white;
  margin: 0px 6px;
  margin-top: -4px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

#searchResultsContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#searchResultsContainer[n-personnalites="0"][n-partis="0"] {
  display: none;
}

#searchResultsContainer[n-personnalites="0"] #resultats-personnalites,
#searchResultsContainer[n-partis="0"] #resultats-partis {
  display: none;
}

#search-container label {
  display: block;
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  #search-container {
    width: 90%;
  }
}
