.recherche {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 64px;
}

#search-container {
  position: relative;
  width: 70%;
}

#search-input-container {
  z-index: 2;
  position: relative;
}

#search,
#search-autocomplete {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  line-height: 52px;
  outline: none;
  padding: 0px 22px;
  transition: all 150ms ease;
}
#search:focus {
  box-shadow: 0 0 0 2px #0055a4, 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#search-autocomplete {
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.2;
  overflow: hidden;
  height: 52px;
  pointer-events: none;
}

#searchButton {
  display: grid;
  place-items: center;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  right: 0;
  z-index: 10;
  background: white;
  border: none;
  border-radius: 99px;
  color: #0055a4;
  font-size: 30px;
}
#searchButton svg {
  width: 36px;
  height: 36px;
}
#search:invalid + #searchButton,
#search:placeholder-shown + #searchButton {
  display: none;
}

#searchButton:hover svg {
  animation: anim-translation-horiz 400ms ease;
}
@keyframes anim-translation-horiz {
  20% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-4px);
  }
}

#searchResultsContainer {
  z-index: 1;
  position: relative;
  background-color: white;
  margin: 0px 6px;
  margin-top: -4px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 1em;

  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.05);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.recherche-categorie ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.recherche-categorie ul li {
  position: relative;
}
.recherche-categorie ul li::before {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  top: 20%;
  height: 60%;
  left: -10px;
  border-radius: 4px;
  background-color: transparent;
}
.recherche-categorie ul li:focus-within::before {
  background-color: black;
}

#searchResultsContainer[n-profils="0"][n-partis="0"][n-ideologies="0"] {
  display: none;
}

#search-container label {
  display: block;
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  #search-container {
    width: 90%;
  }
}

.home-cards {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 1em;
}

.home-card {
  position: relative;
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: 2em 2em;
  gap: 0px 0.3em;
  grid-template-areas: "icon title" "icon subtitle";
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease;
}

.home-card:hover {
  box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.2);
  transition: all 100ms ease;
}

.home-card__icon {
  grid-area: icon;
  object-fit: cover;
  object-position: top center;
  height: 4rem;
  width: 4rem;
}
.home-card__icon[src$="svg"],
.home-card__icon[src$="png"] {
  object-fit: contain;
  object-position: center;
  padding: 8px;
}

.home-card__title,
.home-card__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
  color: inherit !important;
  text-decoration: none;
}

.home-card__title:hover,
.home-card__subtitle:hover {
  text-decoration: underline;
}

.home-card__title {
  grid-area: title;
  font-size: 1.1em;
  font-weight: 400;
  padding-top: 8px;
}

/* extends the clickable area on the picture */
.home-card__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: calc(4rem + 6px);
}

.home-card__subtitle {
  grid-area: subtitle;
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 8px;
}
