.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.u-fill-viewport {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.OrderedListItem,
.UnorderedListItem {
  padding-top: var(--block-padding);
  padding-bottom: var(--block-padding);
  padding-left: 2ch !important;
}

.OrderedListItem::before {
  position: absolute;
  left: var(--block-padding);
  width: 2ch;
  content: counter(OrderedList) ".";
}
.OrderedListItem {
  counter-increment: OrderedList;
}
:root {
  counter-reset: OrderedList 0;
}

.UnorderedListItem::before {
  position: absolute;
  top: var(--block-padding);
  left: 0;
  width: 2ch;
  content: "•";
  text-align: center;
}

.unknown--Callout {
  background-color: hsl(20, 100%, 50%, 0.4) !important;
  padding: 2ch !important;
}

/* .unknown--Callout::before {
    display: block;
    position: absolute;

    font-size: inherit;
    line-height: inherit;

    top: 0;
    bottom: 0;
    left: -0.5em;

    width: 0.5em;
    margin-top: 0.25em;
    height: calc(100% - 0.5em);
    content: " ";
    background-color: var(--c-yellow-light) !important;
    border-radius: 5px;
} */

/* .unknown--OrderedList > .Block,
.unknown--UnorderedListItem > .Block {
    padding-left: 0 !important;
} */

.InputRichText--placeholder {
  opacity: 0.6;
  overflow: hidden;
  height: 100%;
}

a:focus-visible {
  color: black;
  background-color: white;
}

a {
  color: #19f;
}
a:visited {
  color: #76f;
}

.Page__Title:focus-within,
.Heading:focus-within,
.TextBlock:focus-within {
  background-color: hsla(0 0% 50% / 0.1);
}

/* .Page__Title:hover:not(:focus-within),
.Block:not(.Container):hover:not(:focus-within) {
    background-color: hsla(0 0% 50% / 0.05);
} */

/* *:focus-visible {
    transition: none !important;
    outline: 4px dashed var(--outline-color) !important;
} */

/* main * {
    background-color: hsla(0, 0%, 50%, 0.05) !important;
} */
