@import "../fonts/inter.css";

:root {
  font-size: 16px;
  font-size: calc(16px + 0.3vw);
  font-size: clamp(16px, 2vw, 18px);

  line-height: 1.5;
  font-family: Inter, sans-serif;
}

h1,
.h1 {
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Marianne, Inter, sans-serif;
}
h2,
.h2 {
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Marianne, Inter, sans-serif;
}
h3,
.h3 {
  line-height: 1.1;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Marianne, Inter, sans-serif;
}

p + p {
  padding-top: 0.8em;
}
